@{
    ViewData["Title"] = "Upload Access DB";
}
<h3>Upload Access Database</h3>

<form method="post" enctype="multipart/form-data" asp-action="upload-access-db">
    <input type="file" name="file" class="form-control mb-2" />
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3">@ViewBag.Message</div>
}